@import "tailwindcss";

body {
	background-color: #1e1e1e;
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: auto;
	padding: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

nav {
	display: flex;
	gap: 15px;
}

nav a {
	text-decoration: none;
	color: #61dafb;
	font-weight: bold;
}

nav a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding: 0;
}
